# virtual environment
venv/
# Python cache
__pycache__
# CRISPResso output
static/output/**/*
!static/output/.keep
# app uploads
uploads/**/*
!uploads/.keep
# os
.DS_store
# large files to test the program
testing-data